body {
    margin: 0;
}

h1, h2 {
    margin: 0;
}

header{
    background-color:black;
    height:130px;
}

.header-left h1{
    color:white;
}


.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 20px 30px;
    
}

.header-right{
    display: flex;
    align-items: center;
    height: 90px;
    background-color:red;
}

.header-right a{
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 100%;
    color: white;
    text-decoration: none;
}

main{
    height:600px;
    background-color: rgba(255, 255, 12, 0.5);
}

.main-container{
    text-align:center;
    height:600px;
    
}

.policy{
    color:aqua;
    padding-top: 170px;
}

.policy h1{
    font-size:60px;
}

.policy h2{
    font-size:40px;
}

footer{
    height:100px;
    background-color:rgba(117, 109, 108, 0.684)
}

.footer-left{
    float:left;
}