
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    margin: 0;
}

h1, h2 {
    margin: 0;
}

a{
     text-decoration: none;
     padding:15px;
}


header{
    background:#111;
}

.header-container{
    max-width:1200px;
    margin: 0 auto;
}

.header-left h1{
    color:white;
}


.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 20px 30px;
    
}

.header-right{
    display: flex;
    align-items: center;
    height: 90px;
    background-color: transparent;
    

}

.header-right a{
    display: flex;
    align-items: center;
    padding: 0 30px;
    height: 100%;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size:1.4rem;
}

.header-right a:hover{
  background-color:rgb(64, 58, 58);
}

main {
  height: auto;
  background-color: #f5f5f5;
  padding: 0;

}

.hero {
  position: relative;
  height: 100vh;
  background-image: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxMTEhUTEhMWFhUWFxcXFxgXGBUVGBYXFxUXFxgVFRcYHSggGBolGxYVITEhJSkrLi4uFx8zODMtNygtLisBCgoKDg0OGhAQGy0lHyUtLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLf/AABEIALcBEwMBIgACEQEDEQH/xAAcAAACAgMBAQAAAAAAAAAAAAADBAIFAAEGBwj/xAA/EAABAwIEBAMFBgUDBAMBAAABAAIRAyEEEjFBBSJRYQZxgRMyUpGhFEKxwdHwBxUjYuFTkvEzQ3KCJKLCFv/EABkBAAMBAQEAAAAAAAAAAAAAAAABAgMEBf/EACcRAAICAQMFAAICAwAAAAAAAAABAhEDEiExBBMUQVEiYVJiMkKh/9oADAMBAAIRAxEAPwABq9VoVVsBZlHReAcDQQVEV1eUJjUWApAiHqbK1oWsikyAgERLljakFTDZWywBAEHPlRd5KYKm0dUAQYU3TKiymOiYpsHRMpIMx8pgBCpIhemaIHUKGHI7kIlAjGvK3daLlpAGiSsBRQVpAUaa4rRapNctveEDF3MQ30ijytPcEqJoSqUyl6tMp57gl3kIJor3sKkKR3TLgoucgz0Ao7LQd2W3VFttSdkDo016Iyoog9lIPSoEY66gGAIznpaq9NItUSNULFWVatysWmgetDNKpKO1V9BxT9NpKUqRGpBApgrbcMUQYUrPUgNZlNql9lKMzBlK0UCzKJKbGAPRTHDT0RaHTK2UekU63hDuhR2cJd0KdjUWItciZk8OEnoUVvB3fCUb/ClFlc0qQcrIcIf8JRBwd3RVUvg9LKp9RQ9or1nB3dFP+Tu+FPRP4PQznySdisDCdiukbwp3RbHC3dE+1P4GhnOikeikaZXQjhLlMcHKfZyfB6Gcx7IrfsSulHA3E6q64ZwhlLmN39en/j+quHTZZOnsCxs5bAeGn1DznINY1dHl931+RVliMPgMI3NVLT3eQ76e6B3hc5/E3xw7BE0qUe0doNXEu0OXcaDfULxriLeJ4u7qGJeDfko1Yd3MNvZeni6THFFqKR7Bi/4w4Ck4ilh3uDdXNFJo8m3uj+H/AOLVLGVm0KWCrOe46TTIa0aveTAa0fp1XhTPCuPc5rTg8Q3M5rQX0qjGy4gCXObAFxdfRPgXwjS4dQDGQ6q6DWqxd7ug6MGw9dSulxglshqzo6/DcPV96iw9wAD8xBVHj/B1M3oug/C/8nf8+avWvhSFYrnnghPlA1F8nnPEOFupOyvYWnvv3B0PokjSHRdn4p4gaBY+u0VMGSGVbc+GcTDKzSLmmSYcNRYixIRn8Bo2IgtIlpmQQdCCvPydFNP8XsZvE3wcEQg1iF3zuA0OgWhwPDjYKF0eT9EPBJ+zzz2gQaridAvSDwnDD4VE4LDD4Va6SXtoXjP6eUPBn3T8isXqRw2F/t+ixX40vqJ8P+xy1GhSHROUjSG4Xn1BzupTrM3UrhZzR6y/9Tv6L6XUKxw9Wh2XmzC7qUZjj1PzKcZqPo1XV/o9PZXof2/RGbiqH9n0XmTAep+aOw91oup/qjRdT+j0f7bQ/t+ikOIURu1edNKKE/Kf8UV5H6PQf5rR+ILX83o/EFwYRWBPy5fEV338O3HGKXxBb/ndLquLDUQBPy5/EPvM6/8AntLqonj9LquTAUgxHlZA7sjpz4gp91o+IWd1zRasDUeVkDuSOkPiFnQqB8Rt+Eqg9ms9kl5OX6HckX3/APRj4SoHxJ/aVSimrLgOCFSs0OHK3md5Db5wqjmyyaSY1OTOt4bmNMPeILhMdBsPNGq1Fuq9ALt16qVI3BupNzZ8rc0RmgZiBtOsXNu62StSsVEmiojoiJDjfE6WFovxFZ2WmwSTqbkAADckkADqgBsrRXOcN8ecOrwGYumHH7tSaRnpFQCfRdCHAgEGQdCLg+RVEmq9Nr2Op1GhzHtLXNNw5rhBaexBK4ThWP8AsTcRgMQ8mnRdTNB8y5tGs6GnX7s77sdsu7cVS+IfC2GxgaarB7RsZKoHM2DMGPeZcy02vsbpxUb/AC4Jk3Trk8/4txHF0ar6Tn3aYkaEEAtcOxaQfVIVeOYn4yrzxhQ9m6jTcD7RlFwfqWmm2o0Un03n3x/ULTPMIbOxPN1BImV4ueLx5HFPb0efleSMmrYKrxXE/wCoUrW4jiCL1HLbcQZQ8RXlSmzkeaX8mLnGVv8AUd81igSsVWPuz+lhh3J5rigQR90/IqbKtpXMzOLrYcYCischUyYRAoOlDVNyPThItN07SakaRdjbGhEa0IARBZNGyDhoUgQhBwW5CbRQYPCKHoDWokBOmUgwK2CgghSaUyg7QiBqCx9lsOlOhknNuiBqhMLM5RQUbIXR+GWhtOo82kxJ6AT+a5h1ZC8XcWqYfhL6lINLjUa2HDMIc/KZHkurpEnlLhyKeNv4oNpZ6WE56gke0sWNPUfFH7Ku/wCGniGpisO6niD/APJw7slWYBcDJZVEbEAiRu0r53r8Te9xc+DOtoldH4Z8aOw2KZiNWjkqsFi6k73gOpaQHDv2JXsz0V+I4OV/kfSZK2xyTw2Npva2ox4cx7Q5pBsWuEgj0KOKw8/IE/gsjQOXBeJfxh8UCtWGEa7+lRJLwNH1dBPVrASO7iegXpHjrj7sHga2IY0lzQA2QYDnkNa53YEj6L5jdVzkucZJJJJMX1JVRFJjTaLHiIM7EfmrXAVsZgzOFxTmDWATlv1YZafkueNUiwdbzW/tRi7/AEVWSro+jP4a+IquNwrqlcN9rTqGk4tEB0NY4Ojac1/L0XWt1XlX8BsYTRxQP+qx3zYR/wDlemvrJWDFvEtAVaL2kAkMdlJFwS3Y+g+QXj1RgAPdeu16q8vxOHDTI0XnddGnFnJ1K1Uyqq0gBMJVxbdP1qLi7SAd1XvZGq5EeZki/gqXdlpGMLFW5NnvdTglBw91t1S43wPSd7tlweA8V4sWD5jqr/BeOaws5oK2eXDL/KJ666jBkW6/4P1fBDgOVyqMV4drMsGk+S6TB+OWH32kK1oeJMO+JcBPVT2sEuHRfawy4OAHC6gBJYbIbWOjQr1Wm+i8WLT8lF/CqLtgm+jv/Fj8VemeXsq9lJmbdeiV/DlEiA0BV1XwmNnLKXSTRL6eRybKhTLNFcv8LO2KFU4HVZcCeyh4Mi5QduSK/Opl4RsTgKjBzNt1S/s3HayzcWtmFM3lC2G91Fzsu0qRfpFkgCtpKbbITX+qMBIlMojc6LV0d1UWgQomqkxg3kbqr8egu4NXaPuuY70FVhP0JVvMiyjiMGK1Cth3mBVpubMaEiJA3gkH0XV0rrIhx5PnCVKhSc9zWMBLnENaBuSYA+ZXQ+IvA+Mwkl9Ivpj/ALtOXsjq6Ls/9gFYfwj4V7biDHkS2g01T0zCGs/+xB/9V6xse9eHOHjC4ajh2m1JgaT8TtXO9XEn1Vn7UpIVFP2ikQTGUWVWOp1WhzHtLXNOhaRBC+afHvhF/DsQWXdRfLqL/ib8Lv72yAfQ7r6RL1WeIuDUcbQdh64lpu1w96m4aPYdiPqCRuhMLPlwLS9P4d/BysajvbYmmymHEAsBe97QTfKYDJHcxOi77gPgfAYOHU6XtKg/7lWKjp6tEZWnuACqsdnN/wAD8HUpUcQ+oxzG1XU8hc0tzhrXSWyLjmF16PVqodWtOt/NUfHeMU8LTNWo6KY31M7Njedv2U0RIJxzjVPDta6oYzPaxo3LnGAB+PkF57V4g4hc7V43Ux+NbUcIZTlzGbNA0nq4nKrZzwXEBhPn1XB1jUpJfDh6ltUrMfWc4e95DqUs54HvXIN+kJnC1CbGnEHayUxQGeL/AL7rlo4JL2wbnySQFikWDYrEWTsW4aAQWx3WVaAzZpsi0GNjYFvxWW8TlAzA5huPNZGzitNs3h3NaQSZATFTFMeYAjukiWkAs2vGnmiUarYJDZdv2SoqMnwP4XiL2iGmO8lW2B4ziG6uttJVAx0iyapvJhoBI1EoTa4N4Ta9nU4LxTWFnAOMq3oeL2RztIK4imIBEeRKLTpkTmMdvzWiz5I+zojlmj0an4hoH7yeoY+k/wB1wK8pa150022Vhhaj2EZhb96rWPWT9o1jnftHpb2McIIBCA7h1Mj3QuHpcUe2SHOAOnRWFPxDUEAmx3harqoPlGndi+S/q8BpHZK1/DzY5dUoPFf9v76qwo+IW/eBHpbzVasEh3BlPX4JUGjbqdLhVT7zTI0XRUOLUnCcwTbcQ07hJYMT3TDRE5Gpw12kRv8A4QcTw5zSM30XZuqs7KFSg12oBQ+ki+GHbRxNYZdQQf3dTpEu5hfLr5Lq6vCabolvr0U6HDWNEAWKmPTSjK0xdtnOmsRoUClTYHOe2nTbUdYvDWtc4D7rnASR5qy4vwxzAXtu3cbjv5Ln34iF2phwWzMSpDEKkdiwbj3tx8Q/VVlTxThxrWZ/ub+qYHXfaFp9fpqVxT/G+EbrXb6GfwTHCPFdDEF3sqgdFou0x1g/v5pgdX7XboourqndjEJ+NTAsq+KXlX8WOMZzTw4Nm/1H+ZENHyLvmF2nEuIFjHODXOygmGiSQB0XluD4fUxNd9au1wuX5SDJjRsHYAAd4SlJRjbJckt2WHhjCeypFzheprOzRpf6q5ONY2MsTqTuf3KC58M1B5sscvTR2nUaqHsjINUAAA3DSARtci45hfyXlSubcmeZklKTshWxoMuDYnrcz+Edlp2NYWEQA4NjTW+w6xKXfVa5oytJIsbAANsBPkTrG4WqoaW3YWmTc6aaAnr+QT0mVP2RdXP4bjosWDFRYTH/AI/4WJaF8J7a+FjUIEEkkEWOsE7GVJtHNlIkgCINp7jtKg/D1XhrjJAEkwLDZ0jXbVZh3zTDYGaSQ4kgaiIMx1WdkVQX2LswEkEbHbtCsKLyQZaASIt9ZVc3E8xcxugHvcxF4nyTmEy+zLnVLh0QbBwmbEHVJ2a43uHIaOxHax7yjU2H3pN4Ebx2Sr8S12UHmkcsbzFgY+n0WN4kAQ3QWiZkA9OvkpbZtaLGqXZhEEHax8/JMfa3OGW1hGl+uqVbiA/LnnKBeARsd9tkH2DNWucT1jUfl8tkkjVFhSq2EkEEx3BATFNxgwZOlzPqPolKNveyASSRYiJvP6rBy2B1IIG0amCNzfRMtD/2ewJdIPqATrI/RTwrQZvO1iCB6fJCoPbBJj0MwDe4OqJRe0AgRs64bP8Au9dP0QWg9MNJAMxB1i8ao7ohuv1ttCTqmWxlM2yiYNtfn1WZZJu+Te129zFrfoiihwOiQSInz0/BSp4p5u11x32Swc0ukiTETsdZOv8Awo1MwM5jb+2dNeulhdMqyxHEqjRc8p6nr/x+KJQ4y9pEvnmE+VrTvN1WQYk6AzMjWbW313C0a4sCYcTANwQCB08j8impyXsepnWs8QttIPoUZvHmG4IIzR6RMkfL5hcCa4cbTa0i4tOxPbVbo4mWg5g1tyWiQXAn4TYRA16LZdRk4KWRnpbMa11swvouW8ReHXOmphSJ3pkgf7CTEzsVy2L4gWEOLzIAyjNczBI10BH1S9LxVUpjM0lwmTm0BtoPTylbx6hvlB3U+Sk49xKpSa9rg5jwDYgtItrdeWL2Tj3jQVmFlbDU3gQLk8p1zMI5mk3Eg7LzzF8OY9xLRlv3OveL/IrphkQlkijnkXDYh1Nwexxa4aEK2w/AC8kNeJF4PwgSTPzTmH8JPLhmc3qQDeJ1HW14sVraL1xOi8M+LfbDLUbDmiSfu9J7eStMVxxjd57D9T+Q9VWYXwdVBa32rQwhx5LaQREzrOqtMB4LYBme8uLiYJsNNBfTb0VC5KzF4irUs4mmARDQHc0gnXcwNzN1GQxj8wy3mRF8pBkA3ggz+4XUv8OU80ACMoLQ6X6XLebuDF9fq0ODMFnsENh8gWkZZJnqPM3XPkxOXLMpY9Xs83r1JdYE2BmxubwCABPb8UStWHutLyBBg2DT96IOkg9F6RQ8OUXh5mozOZ5C2WGHe7DZAOdpidWt2VVjf4d5nTTrE23/AKhIBsLRIgi8W6LN4aM302xxlPFOJgAQQPujmGYW7hDxGMa85fZhtxGWBrYTqfmTv1XSV/ANcOhkEAEklwFw2wOhDZG43Kpsb4fxDCM9FxJzHK0Emdbu3Ot76AKXiM3ga5KepiWyZE95/CyxWGMwddj3NILINmwG2NwY7gg95WI0oehFria7/cDQIa2ASXTDpdEOMCfw2QqFHM7+nLok35Iv2PQj1UG13taA7NBAyuc2NdYnTfRMUSySS9kCI5Rm1G9rbz5yOvHVHG42xWo8Zw6jkdlgOY+Wm0AhwJveLgg9k1UyGIkAky0mzo1bMdrWuIndTglkFmdotMnOJNgYBMbjbzUsPXDeU5Y92CA8NOkmbdSCdYKbv0h1XCA06X3g5u1gRFpzGCI6EAGbXTVJxLhDM15a45RcGASDYtkSg0sOC4HTuGkmQd27iRBIHl3aqUgYJLQSIIYDeToS4RFtR62uluzSNlg8aBwgAg/9SB2LdQCPPdMsoQdCLffjrEajvvuLKubTE2cXACZgGXAXGYe8BFpk2HdAbi3SWubbo6ItJsL3nQ7W81Gk1TLXMCYEzHnby7RptcrTAJPwyTAJOuwAuPLQFIsqOABDZBi4kAAbEm8wAfki08TuJDQ6DuDY6hoNra/3JU7LTH6eIpglsEn8ZFzcRbSPxRjXY4B0ZSNdtrW+dv8ACTNTMZEGdLzFxfsdPmChnEhpy5Q7oCOpvG8a2TKssPbNiARI6m3Xa42GiK2uDF50HoANANI7Kt9s4AAtMg7WIvBNj1RiCRlBzHvENkiYPp+KXI7LA1NcvzAByxvBst0zALi4kR968Xvy6zEi8qruBbqYJNtPOfROseHMcWGGWAnve2UdRv8A8FFJhKuID83LcCL2ueh26bpYF0HK0WGxyk3uHTMCPL9NtDmmwggEkvhwmDfysP8AhJUXVbk8gMj7pzAwZBGuk91SQWbNbLblae3WTeYv5KvxWJscttfIwdjfZN1agktsZM+6BAEiR53S1XDNAaMwNpnvrHaVaollU7qYki0i8xbex7f4QfYus7S2m42kiNZEz/cE/WucrZzG45ba7nb/AB3KUq4U3LyQJIEgaxqGzIGomFoiaEMdRdNvdIsdokfPp6FK/Z+hi4jXQ230N5+asGUyQXEgggmepFtrk226ei1RpRZ1y0yIGv7891dkiLKEl2UmZAsd50WMzg6uEGD7wJi5hWlOkIzusCLSIE319SNVqu9ubMYIjlFycwEZj2mU1kYEMDxOq0nK48pAbJkZoEzO2X92T1DxJWzg2tOtwDJAHleI3VXkIaMxALjcxMAiOUeQCgam4933YA3EG/73KruP6Gpr2dBw3xK9rGyBMkgRA5xa24Em266DCeK6GXMYJdaBbIG2g3O5OuxXmjqhudCTE6CewWnU4kg2O41JvFv3qrWSSGszR7TguI0HhpME6HTQgSQNbif9p7q8wj2cwY0SIzO0BMAg21O1unZeB4KpUAEPc0jNpPSQDGm66Lw34tdQd/UqOeNDc2+FwM7XBB7J976aR6pXTPZ3wQcuUaTNu9yguwzS3I4si0AtDhPkbkxI1XCYXxyHN5pOZwFoJAcRYtbvynY6+Sfd45woZnAccgygZSAT0EjW029U1mizdZoP2X2M4Fhqjy97AXGBJa42aA0aHoAFiHS8VUS0FrmQQCJJmItKxXrj9LuJ4yea5DYtPLLmzcuHxe7rrfVDqB4sW+zJIMczQAbiCBG8yfRSPDnkFzqwY0QAWMBmSMwmYcRcanRGLqUj/qvLB7xeGw3LlBMZbZjOmllxbJHlbJcjODY4+9GWIdmMOEi4da/MAdNOsXjUNMD3nbmHQGnlu2QZ0kW1sLbpvrNa1pDpMkEOh7QJ5SDNzzEegRqGMmBGV1ybAANLYIJAFjG2l1LJch44MRzZQ0CLktMHmFnCXiCbgWtayao02ZMzC0s6Zm6kASATBFx8tiElh8UMnNnJMgSZBEiAZ96CJsbKTK0G+YB12uMgFxkCA2DvPQm2yyb9ApIPSwrRBOeL6EZZiRd3fa09oT7sK4WNpa57Q5gDSYOUzeDfSO6UwNSS4tbzEOyOj2gDpsS2YaM0nTqmMRVeAW1NpEictxBn0ItdK/pomqs02uWsMujNebuBhplpn3RfvFlEYgO9wEi5bAJ+6DlgGCTt1tCYaKerXAieXK0XbGo0GhIiNxujtALrSwuLSSAZLtjEmDrA7pbey0K1GPyMLS4NaSXAZeXYOJIm5OnkifbGnNNNvLYnN1sMo0aeosnKVF3M01CXe6LTqZt00+aUdSyAhzgSbEwHHvAIkfNO0XZPCuze9JEWdmEHdoA2F9brWGxFTNEtyy4BuYOaR8rfuE1Uolpyt5jAdfTrYdVEAOLQHBrZJIiSJufnCGUELy4OyubBglvLra4BH111RcNU5XMgRe1+U9D2kA6W/ANUyQKbhGvcHpKlUc9oc0ZcxOt7iLiR1SQ0zQxwBLQSYmTExvYTEAoL/ZzqSRcEuk6aiNFOnhWUuaBBOkm/6+qwvAkgAZrQPp5hO6CwPKCHi/aNov8AVLGiZmIABLW2JMEk5oTr6boJGUHsYJMdFWmlVJMkgke9t3Eqk0KyNagS4gS0DoZ10tv1UGYdoaQQSOpP73Rm4iowFmUAEe8Tr5fVKCoCbguB1cJH0TFYQNY4ZXhgym0dDEx9FCvSDZ3F7W2Nr7pqlVbDnPiNBYZkpVq55jawMWTsViWJYT7wIEAm9nX6eaBUwLCMwBba4kEi+hnUJ99hDzt56qDiALMmbGYuB1VKRLKXFAk5QBlF+WbQOvdQoBrTLXSy9u8fVXLKZFmtaBGhGs66KWLwrS1oLQJBE6BVqXBLoo3tc7KYaRrYxf8ANa9mYy6kfCZ5nGwM6EK/oZabRkawmCCS2QR181DA1qWV4q0miTIcAQfIxsjWiNm6KqnTynNLnOa7KZaIi4iDqZTVDhNWt7SpSYAGszkNgANHvEAnsU1icVTZzNow5zC0FziQ3+5o6qpo4gB0nMTlIN4a6dndR2RuzOVagLDqzmM9LXG/dZXDi1oc52UWbM7IjHw4ESSNMq1iHvLcpdmH1BJmE0iUxrA4dhptJxGT+2NLlYkg8t5ZdbsFidFakWNXEYp1MMfncGiWgvqFpDSdGl2WBfRuiX+0CoBmpw4EwWgiANiBaPr3VfTx5zQ4mL6zb9/miUeJBsZS4PmCZtChxl8CUZ/B9tEPiQBckQJPa28aojMGMrXBkgzJmBym+tjqEnUxpknV4ETrbaFunjKhGUSQBoBFu4U1Izp0PY7DexDTnMFgeJ2zActreoW6HES6mC8gEQBAI63I3/yg4WgRlFQOY12riJjcDyMp7F0i1rWNDWn7r8tzrObuk64KIHiRzBrW5gwOIdmLXQL6fqrHD45tcM5iy498mGiLAFvWBqqTCio4ODngnSwi3mrLD8PbYwXZha/KI/ylKKLi2XGLxdNpeWEAvcIaBygDSJ8ghYWu2z+Um4cHkzm/NJSxozOc0kGI1j/Cz27ZMPExY2Ky90Xq3G2cRgiHcpJtFu57oZ4kSTDswBudPl0Q6TqZF6onbueiebDhZjGnc25u6dVsWmRoPq1Zg3aNf8nVRpNqNc0ucMwnXS/VMUsHLDsW7g2KRxJIIB5hvCV+kVY8XFti4TmgHRBrPqNdYub1Oo9CgPrsqclKmWtMCHGbjeSmqNSrlNOoAdvIDum9mOzdNr3NkkkotUnlEbfLrdKmq4Wkx0RTUY4Na0OB0J1kpUmAUvdzGQWgeo7oLKhcMokjeOi02mWAzb81Evcw5m/JOvgWBcA5xaTygWG4TLaYpCQ6xFt/SEniHnOIEE6qNR+8E9k0mIyuwFoMnSUGhEEN0380d4MDYIOGygxpPRESbJUoLIgSNSeiTfTdmtMDf9AmCx4JdHL+KD9qJm0OOkKlfoVkxXLGtZmFzv7yBisQIM2g2ndBwuJMhrozd0bF1DJa9s9wrXJDkbo4xwDi4NkiIi3mEMPbcl5aOgHbRV1et/UAJIb+CFWrRJF5NlVESkyxGIYGhp5miT5ztOyp8TU7C17fgoZ3ElMVcVyBuUA7ndNbCSaYth8a/RljGqFLg6SbprOI5Uu0a3klWmty01vsY5x+IrFv2axFjtEH0i58i+Y/Uoz8O0OLXggt+q3isodmYSR00UXV8wIvOub8inbYW2higT90Ax1RjjGzmuwkQQDaUvhyJGeYOpHRN/YmOsHjW2a091m+dzFpXuSxXEJygA5gBNzDo0JH71TVTEOzmHS0Qb3VVUpHNeJbaRuFYYapBkgOPQpSiq2JmwOOxRJzEwdOUQp4bCVKrMtOpYAuiYhFZh3VCcrQE+ymKZBY2TEFvn0U6qWxUG+Slw3B2uLYq62dOxRqfCDRrDO6WnQjfzTzqrQSC3K7WyMajC0cxzDVDySujXW7oVbw7K+S0lp+Y+is8JiIYWDrYnVV9LEEmxJ6qywFMOb5lKbfs0v0DLyAQHQSiYMlrgXAOG6GcO4VDzCBsmXUHWcNBsFnwFkqr2kZS2ADII1+YQMViHmcp8uq1WrhoDhqDcfkmPtVIjMBBU2/YWyqweIeXQ6VfYWuBYQD1KSDWES3XVTp0w+7inJj1E6z3F9zNvRV38ye1xb8pTlfFNYco+q0Wtc4OyfgiCqwToWx1Q1HCTYDb/C1So1CNbJv2Ie+BYmyBjsT7GWalOMm9khanQVr8o5jPQKvxeFqSHg2n0RjUa5g+L5fNPYao8Uix7JB0KtWNbitfFONMMmQPqk6eCc0Zi6D0TdBjHOjQ+qhjOGE/e0/d0cEO6Kt2AuXvdJmbKbOJmRkb7vXdWIAY0giSRuqN5LST1VLfkybonj8aars2UAnsk6wJEQnMLhnPumK3DwGEl3N0srUktiLd2Vhw2hLoS1UhzoTJIFiZQqzRq1UmVF77khDUnUqAeaysTFzdYWNyjqqUaNYxrdhG4myxQNILEUh1EMSY10TbWbwLiVixKXJhNkXtBhu0qNWgJsSsWLNyaJtoPhMMTYXPdP0XlphwBg9pHcLFinU26IlJ8jbqpBPs7E+SiwucOjwbELFimy1J2Ivpvc50wHDcfopYV8Omr5CFixXF22OL3YSlUDXyBMp/D0y7eLrFiUuDZOyRpMzG5nqjDFZRDStrFDKbFSwkcx1U8Phmt8isWKJOkJvYm+KbgYturOi5pEs1W1ijH+Sthj35EeJUQSC6x/NKmuRYGFtYtEhsNTwuYZs1/XVV+MoFpzEk+fZYsRF7kmsLxADVuh81cVeKVHskNAA8lixXJUCk+DnjjSHyeqZxVZ0SD6bLFir2ZKTYg/ijiIPkl3VJutrFqkkEiWFxpZMJfEV3OMlYsQ1TCqFKrSUs55G6xYtEdGPcg0lFo0zIWLFRc3SGXEdFixYqMqP/9k=");
  background-size: cover;
  background-position: center;
  margin-bottom:20px;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.4);
}

.hero-content {
  position: relative;
  color: white;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  font-size:3rem;
}

.Recent-game{
  height:150px;
  width:auto;
  background-color:red;
}



footer {
  background-color: rgba(117, 109, 108, 0.684);
  padding: 40px 20px;
}

.footer-container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.footer-left {
  padding: 16px;
  text-align: left; /* 中央寄せにしたければ 'center' に変えるだけ */
  flex: 1;
}

.footer-left h3{
    font-size:2.3rem;
}

.footer-right {
    
    font-weight: bold;
    text-decoration: none;
    font-size:1.4rem;
    padding: 16px;
    flex: 0 0 auto;
}

.footer-right li{
    list-style:none;
    
}

.footer-right a{
    color: white;
    display: inline-block; 
    padding: 4px 12px;
    border-radius: 4px;
}

.footer-right a:hover{
  background-color:rgb(98, 94, 94);
}